---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/users/dhh
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"4497f02a0a73ca49d1537f4263871c58ea5ec2e1a82f46f3508d197a81edb9b0"
      Last-Modified:
      - Wed, 11 Aug 2021 12:45:44 GMT
      X-Github-Media-Type:
      - github.v3; format=json
      X-Ratelimit-Limit:
      - '60'
      X-Ratelimit-Remaining:
      - '58'
      X-Ratelimit-Reset:
      - '1629121687'
      X-Ratelimit-Resource:
      - core
      X-Ratelimit-Used:
      - '2'
    body:
      encoding: ASCII-8BIT
      string: '{"login":"dhh","id":2741,"node_id":"MDQ6VXNlcjI3NDE=","avatar_url":"https://avatars.githubusercontent.com/u/2741?v=4","gravatar_id":"","url":"https://api.github.com/users/dhh","html_url":"https://github.com/dhh","followers_url":"https://api.github.com/users/dhh/followers","following_url":"https://api.github.com/users/dhh/following{/other_user}","gists_url":"https://api.github.com/users/dhh/gists{/gist_id}","starred_url":"https://api.github.com/users/dhh/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/dhh/subscriptions","organizations_url":"https://api.github.com/users/dhh/orgs","repos_url":"https://api.github.com/users/dhh/repos","events_url":"https://api.github.com/users/dhh/events{/privacy}","received_events_url":"https://api.github.com/users/dhh/received_events","type":"User","site_admin":false,"name":"David
        Heinemeier Hansson","company":"Basecamp","blog":"https://dhh.dk","location":null,"email":null,"hireable":null,"bio":null,"twitter_username":null,"public_repos":25,"public_gists":51,"followers":16013,"following":0,"created_at":"2008-03-10T17:53:51Z","updated_at":"2021-08-11T12:45:44Z"}'
  recorded_at: Mon, 16 Aug 2021 12:55:12 GMT
recorded_with: VCR 6.0.0
