---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/users/dhh/repos
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"5c95c84ca7fbebe1cab05179a384f1eb90b977f6aa5b47379af9b137818bd958"
      X-Github-Media-Type:
      - github.v3; format=json
      X-Ratelimit-Limit:
      - '60'
      X-Ratelimit-Remaining:
      - '57'
      X-Ratelimit-Reset:
      - '1629121687'
      X-Ratelimit-Resource:
      - core
      X-Ratelimit-Used:
      - '3'
    body:
      encoding: ASCII-8BIT
      string: '[{"id":47980916,"node_id":"MDEwOlJlcG9zaXRvcnk0Nzk4MDkxNg==","name":"actioncable","full_name":"dhh/actioncable","private":false,"owner":{"login":"dhh","id":2741,"node_id":"MDQ6VXNlcjI3NDE=","avatar_url":"https://avatars.githubusercontent.com/u/2741?v=4","gravatar_id":"","url":"https://api.github.com/users/dhh","html_url":"https://github.com/dhh","followers_url":"https://api.github.com/users/dhh/followers","following_url":"https://api.github.com/users/dhh/following{/other_user}","gists_url":"https://api.github.com/users/dhh/gists{/gist_id}","starred_url":"https://api.github.com/users/dhh/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/dhh/subscriptions","organizations_url":"https://api.github.com/users/dhh/orgs","repos_url":"https://api.github.com/users/dhh/repos","events_url":"https://api.github.com/users/dhh/events{/privacy}","received_events_url":"https://api.github.com/users/dhh/received_events","type":"User","site_admin":false},"html_url":"https://github.com/dhh/actioncable","description":"Framework
        for real-time communication over websockets","fork":true,"url":"https://api.github.com/repos/dhh/actioncable","forks_url":"https://api.github.com/repos/dhh/actioncable/forks","keys_url":"https://api.github.com/repos/dhh/actioncable/keys{/key_id}","collaborators_url":"https://api.github.com/repos/dhh/actioncable/collaborators{/collaborator}","teams_url":"https://api.github.com/repos/dhh/actioncable/teams","hooks_url":"https://api.github.com/repos/dhh/actioncable/hooks","issue_events_url":"https://api.github.com/repos/dhh/actioncable/issues/events{/number}","events_url":"https://api.github.com/repos/dhh/actioncable/events","assignees_url":"https://api.github.com/repos/dhh/actioncable/assignees{/user}","branches_url":"https://api.github.com/repos/dhh/actioncable/branches{/branch}","tags_url":"https://api.github.com/repos/dhh/actioncable/tags","blobs_url":"https://api.github.com/repos/dhh/actioncable/git/blobs{/sha}","git_tags_url":"https://api.github.com/repos/dhh/actioncable/git/tags{/sha}","git_refs_url":"https://api.github.com/repos/dhh/actioncable/git/refs{/sha}","trees_url":"https://api.github.com/repos/dhh/actioncable/git/trees{/sha}","statuses_url":"https://api.github.com/repos/dhh/actioncable/statuses/{sha}","languages_url":"https://api.github.com/repos/dhh/actioncable/languages","stargazers_url":"https://api.github.com/repos/dhh/actioncable/stargazers","contributors_url":"https://api.github.com/repos/dhh/actioncable/contributors","subscribers_url":"https://api.github.com/repos/dhh/actioncable/subscribers","subscription_url":"https://api.github.com/repos/dhh/actioncable/subscription","commits_url":"https://api.github.com/repos/dhh/actioncable/commits{/sha}","git_commits_url":"https://api.github.com/repos/dhh/actioncable/git/commits{/sha}","comments_url":"https://api.github.com/repos/dhh/actioncable/comments{/number}","issue_comment_url":"https://api.github.com/repos/dhh/actioncable/issues/comments{/number}","contents_url":"https://api.github.com/repos/dhh/actioncable/contents/{+path}","compare_url":"https://api.github.com/repos/dhh/actioncable/compare/{base}...{head}","merges_url":"https://api.github.com/repos/dhh/actioncable/merges","archive_url":"https://api.github.com/repos/dhh/actioncable/{archive_format}{/ref}","downloads_url":"https://api.github.com/repos/dhh/actioncable/downloads","issues_url":"https://api.github.com/repos/dhh/actioncable/issues{/number}","pulls_url":"https://api.github.com/repos/dhh/actioncable/pulls{/number}","milestones_url":"https://api.github.com/repos/dhh/actioncable/milestones{/number}","notifications_url":"https://api.github.com/repos/dhh/actioncable/notifications{?since,all,participating}","labels_url":"https://api.github.com/repos/dhh/actioncable/labels{/name}","releases_url":"https://api.github.com/repos/dhh/actioncable/releases{/id}","deployments_url":"https://api.github.com/repos/dhh/actioncable/deployments","created_at":"2015-12-14T14:46:11Z","updated_at":"2020-05-16T00:58:07Z","pushed_at":"2015-12-13T13:29:39Z","git_url":"git://github.com/dhh/actioncable.git","ssh_url":"git@github.com:dhh/actioncable.git","clone_url":"https://github.com/dhh/actioncable.git","svn_url":"https://github.com/dhh/actioncable","homepage":null,"size":469,"stargazers_count":6,"watchers_count":6,"language":"Ruby","has_issues":false,"has_projects":true,"has_downloads":true,"has_wiki":true,"has_pages":false,"forks_count":3,"mirror_url":null,"archived":false,"disabled":false,"open_issues_count":0,"license":{"key":"mit","name":"MIT
        License","spdx_id":"MIT","url":"https://api.github.com/licenses/mit","node_id":"MDc6TGljZW5zZTEz"},"forks":3,"open_issues":0,"watchers":6,"default_branch":"master"},{"id":81754,"node_id":"MDEwOlJlcG9zaXRvcnk4MTc1NA==","name":"asset-hosting-with-minimum-ssl","full_name":"dhh/asset-hosting-with-minimum-ssl","private":false,"owner":{"login":"dhh","id":2741,"node_id":"MDQ6VXNlcjI3NDE=","avatar_url":"https://avatars.githubusercontent.com/u/2741?v=4","gravatar_id":"","url":"https://api.github.com/users/dhh","html_url":"https://github.com/dhh","followers_url":"https://api.github.com/users/dhh/followers","following_url":"https://api.github.com/users/dhh/f[...]
